<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mungmungjackjack.mmjj.member.mapper.MemberMapper">

	<resultMap type="com.mungmungjackjack.mmjj.member.domain.MemberDTO" id="memberMap">
		<id property="userid" column="userid"/>
		<result property="userid" column="userid"/>
		<result property="userpw" column="userpw"/>
		<result property="nickName" column="nickname"/>
		<result property="email" column="email"/>
		<result property="userName" column="username"/>
		<result property="birth" column="birth"/>
		<result property="gender" column="gender"/>
		<result property="zipNum" column="zipnum"/>
		<result property="addr" column="addr"/>
		<result property="phone" column="phone"/>
		<result property="userYN" column="useryn"/>
		<result property="regDate" column="regdate"/>
		<result property="updateDate" column="updatedate"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap type="com.mungmungjackjack.mmjj.member.domain.AuthDTO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="read" resultMap="memberMap">
		SELECT
			mem.userid, userpw, nickname, email, username, birth, gender, zipnum, addr, phone, useryn, enabled, regdate, updatedate, auth
		FROM
			member mem LEFT OUTER JOIN member_auth auth on mem.userid = auth.userid
		WHERE mem.userid = #{userid}
	</select>
	
	<select id="getTime" resultType="String">
		SELECT	sysdate
		FROM	dual
	</select>
	
	<select id="selMember" resultType="com.mungmungjackjack.mmjj.member.domain.MemberDTO">
		SELECT *
		FROM member
		WHERE id = #{id}
	</select>
	
	<select id="selLoginInfo" resultType="com.mungmungjackjack.mmjj.member.domain.MemberDTO">
		SELECT *
		FROM member
		WHERE id = #{id}
		AND pwd = #{pwd}
	</select>
	
	<select id="login" resultType="com.mungmungjackjack.mmjj.member.domain.MemberDTO">
		SELECT *
		FROM member
		WHERE id = #{id}
		AND pwd = #{pwd}
	</select>
	
	<select id="insertMem">
		INSERT INTO member(userid, userpw, nickname, email, username, birth, gender, zipnum, addr, phone)
		VALUES(#{userid}, #{userpw}, #{nickName}, #{email}, #{userName}, #{birth}, #{gender}, #{zipNum}, #{addr}, #{phone})
	</select>
	
	<select id="idChk" resultType="String">
		SELECT userid
		FROM member
		WHERE userid = #{idC}
	</select>
	
	<insert id="addauth">
		insert into member_auth(userid, auth)
		VALUES(#{userid}, 'ROLE_ADMIN')
	</insert>
	
	<insert id="authMem">
		insert into member_auth(userid, auth)
		VALUES(#{userid}, 'ROLE_MEMBER')
	</insert>
	
	<delete id="deleteAuth">
		DELETE member_auth
		WHERE userid = (SELECT  userid
                		FROM    member
                		WHERE   useryn='N');
	</delete>
	
	<delete id="deleteMem">
		DELETE	FROM member
		WHERE	useryn='N'
	</delete>
	
</mapper>